.tag.is-success {
  background-color: #23d160;
  color: #fff;
  float:right !important;
}

.tag.is-danger {
  background-color: #f14668;
  color: #fff;
  float:right !important;
}

.tag {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 290486px;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 1.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: .875em;
  padding-right: .875em;
  vertical-align: top;
  white-space: nowrap;
}

/* SPEAKERS */

.column_photo {
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 10px;
  padding-left: 0px !important;
}

.column_text {
  box-sizing: border-box;
  float: left;
  width: 80%;
  padding: 10px;
  padding-top: 0px !important;
}

.row:after {
  box-sizing: border-box;
  content: "";
  display: table;
  clear: both;
}
