.speaker1, .speaker2, .speaker3, .speaker4, .speaker5, .speaker6, .speaker7, .speaker8, .speaker9, .speaker10, .speaker11, .speaker12, .speaker13, .speaker14, .speaker15, .speaker16, .speaker17, .speaker18, .speaker19, .speaker20, .speaker21, .speaker22, .speaker23, .speaker24, .speaker191, .speaker192, .speaker193, .speaker194, .speaker195, .speaker196, .speaker197, .speaker198, .speaker199, .speaker1910, .speaker1911, .speaker1912, .speaker1913, .speaker1914, .speaker1915, .speaker1916, .speaker1917, .speaker1918, .speaker1919, .speaker1920, .speaker1921, .speaker1922, .speaker1923, .speaker1924 {
  position: relative;
}

.bio1, .bio2, .bio3, .bio4, .bio5, .bio6, .bio7, .bio8, .bio9, .bio10, .bio11, .bio12, .bio13, .bio14, .bio15, .bio16, .bio17, .bio18, .bio19, .bio20, .bio21, .bio22, .bio23, .bio24, .bio191, .bio192, .bio193, .bio194, .bio195, .bio196, .bio197, .bio198, .bio199, .bio1910, .bio1911, .bio1912, .bio1913, .bio1914, .bio1915, .bio1916, .bio1917, .bio1918, .bio1919, .bio1920, .bio1921, .bio1922, .bio1923, .bio1924 {
  background-color: black;
  color: #28f400;
  display: none;
  padding: 10px 10px;
  position: absolute;
  text-align: left;
  width: 450px;
  z-index: 100;
  font-size: 14px;
}

.act1d, .act2d, .act3d, .act4d, .act5d, .act6d, .act7d, .act8d, .act9d, .act10d, .act11d, .act12d, .act13d, .act14d, .act15d, .act16d, .act17d, .act18d, .act19d, .act20d, .act21d, .act22d, .act23d, .act24d, .act191d, .act192d, .act193d, .act194d, .act195d, .act196d, .act197d, .act198d, .act199d, .act1910d, .act1911d, .act1912d, .act1913d, .act1914d, .act1915d, .act1916d, .act1917d, .act1918d, .act1919d, .act1920d, .act1921d, .act1922d, .act1923d, .act1924d {
  background-color: black;
  color: #28f400;
  display: none;
  padding: 10px 10px;
  position: absolute;
  text-align: left;
  width: 450px;
  z-index: 100;
  font-size: 14px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #bbb;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #bbb;
  color: #594F4F;
  background-color: #E0FFEB;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #bbb;
  color: #493F3F;
  background-color: #9DE0AD;
}

.tg .tg-baqh {
  text-align: center;
  vertical-align: top
}

.tg .tg-41e9 {
  background-color: #C2FFD6;
  font-weight: bold;
  text-align: center;
  vertical-align: top
}

.tg .tg-0l6a {
  background-color: #C2FFD6;
  text-align: center;
  vertical-align: top
}

.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
